    		<a class="sidenav-item f18 ajax-load nav-link <%= data.numero_menu == 1 ? 'nav-active' : ''%>" href="/sistema">
    			<div class="col col-sm-2">
    				<i class="fas fa-home"></i>
    			</div>
    			<div class="col col-sm-10">
    				Dashboard
    			</div>
    		</a>


            <% if(usuario.nivel == 3){%>
            <a class="sidenav-item f18 ajax-load nav-link <%= data.numero_menu == 3 ? 'nav-active' : ''%>" href="/sistema/historico">

               <div class="col col-sm-2">
                <i class="fas fa-file-pdf"></i>
            </div>
            <div class="col col-sm-10">Histórico</div>
        </a>


        <a class="sidenav-item f18 ajax-load nav-link <%= data.numero_menu == 5 ? 'nav-active' : ''%>" href="/sistema/recarga">
           <div class="col col-sm-2">
            <i class="fas fa-piggy-bank"></i>
        </div>
        <div class="col col-sm-10">Recarga</div>

    </a>

    <%}else{%>
    <a class="sidenav-item f18 ajax-load nav-link <%= data.numero_menu == 6 ? 'nav-active' : ''%>" href="/sistema/log_trader">

        <div class="col col-sm-2">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="col col-sm-10">Log</div>

    </a>

    <%}%>


    <a class="sidenav-item f18 ajax-load nav-link <%= data.numero_menu == 4 ? 'nav-active' : ''%>" href="/sistema/suporte" >
       <div class="col col-sm-2">
        <i class="fab fa-telegram-plane"></i>
    </div>
    <div class="col col-sm-10">
        <div>Suporte</div>
    </div>
</a>

 <% if(usuario.nivel == 1){%>
    <a class="sidenav-item f18 ajax-load nav-link <%= data.numero_menu == 7 ? 'nav-active' : ''%>" href="/sistema/administracao" >
       <div class="col col-sm-2">
        <i class="fas fa-user-cog"></i>
    </div>
    <div class="col col-sm-10">
        <div>Administração</div>
    </div>
</a>

  <%}%>





