<nav id="sidebar" class="">        
	<ul class="list-unstyled">
		<li class="<%= data.numero_menu == 1 ? 'active' : ''%>"><a class="ajax-load" href="/sistema"> <i class="icon-home"></i>Dashboard </a></li>
		<li class="<%= data.numero_menu == 2 ? 'active' : ''%>" ><a class="ajax-load" href="/sistema/minha_conta"> <i class="icon-user"></i>Minha Conta </a></li>
		<% if(usuario.nivel == 3 || usuario.nivel == 4 || usuario.nivel == 5){%>
		<li class="<%= data.numero_menu == 5 ? 'active' : ''%>"><a class="ajax-load" href="/sistema/recarga"> <i class="icon-dashboard"></i>Recarregar </a></li>
		<li class="<%= data.numero_menu == 3 ? 'active' : ''%>"><a class="ajax-load" href="/sistema/historico"> <i class="fas fa-chart-bar"></i>Histórico </a></li>
		<%}else if(usuario.nivel == 2){%>
		<li class="<%= data.numero_menu == 6 ? 'active' : ''%>"><a class="ajax-load" href="/sistema/log_trader"> <i class="fas fa-file-alt"></i>Log </a></li>
		<%}else if(usuario.nivel == 1){%>
		<li class="<%= data.numero_menu == 7 ? 'active' : ''%>"><a class="ajax-load" href="/sistema/administracao"> <i class="fas fa-tools"></i>Administrativo </a></li>
		<%}%>
		<li class="<%= data.numero_menu == 4 ? 'active' : ''%>"><a class="ajax-load" href="/sistema/suporte"> <i class="icon-computer"></i>Suporte </a></li>


		<li><a class="logout" href="/logout" onclick="return confirm('Você deseja sair?');"> <i class="icon-logout"></i>Sair </a></li>

	</ul>
</nav>