<%- include('../includes/menu_header'); %>

<div class="page-content">

	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Contas</h2>
		</div>
	</div>



	<%if(data[usuario.id +'_contador_parados'] > 0){%>

	<button type="button" class="btn btn-primary btn-block margin-t-10 margin-b-20 modal-mount" data-modal="#modalinfo" data-link="/sistema/contas/conectar-todas-contas">Conectar Todas Contas</button>

	<%}%>		


	<div class="marbin-b-10 margin-t-10">
		<button type="button" href="/sistema/contas/adicionar-conta/" class="btn btn-success-color btn-block margin-t-10 margin-b-10 ajax-load-to" data-to="container_add_conta">Adicionar Conta <i class="fas fa-user-plus"></i> </button>
		


	</div>

	<div class="container_add_conta"></div>



	<div class="row">
		<% for(i=0; i < data[usuario.id +'_usuario_c'].length;i++) {%>


		<%if(data[usuario.id +'_usuario_c'][i].nivel == 3){%>


		<% if(data[usuario.id +'_usuario_c'][i].conta.length > 0){ %>

		<%if(data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].email != 'allreisesouza@gmail.com'){%>

		<%if(data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].email != 'mvzdeveloper@gmail.com'){%>

		<%if(data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].email != 'm.barcellos.c@gmail.com'){%>



		<div class="col-sm-12 col-md-6 margin-b-10">








			<div class="padding-20">

				<div class="text-center padding-5 <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].status == 'standby' && data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao == 'iniciar' ? 'dashbg-5-t' : data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].status == 'conectado' ? 'background-sucess white-text' : 'dashbg-3 white-text'%> ">

					<%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].status == 'conectado' ? 'Conectado' : 
					data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].status ==  'standby' && data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao == 'iniciar' ? 'Aguardando Trader':'Desconectado' %>
				</div>




				<div class="block h-100 <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].status == 'standby' && data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao == 'iniciar' ? 'dashborder-5' : data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].status == 'conectado' ? 'border-sucess sucess-block-trader-color' : 'dashborder-3'%>">



					<form method="POST" action="" enctype="multipart/form-data">
						<div class="block-body">
							<div class="form-group">
								<label class="form-control-label">Email corretora</label>
								<input type="email" placeholder="exemplo@exemplo.com" class="form-control input-text-email-senha" name="email" value="<%=data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].email%>">

								<%#for(j=0; j < data[usuario.id +'_usuario_c'][i].conta.length; j++){%>

								<%#=data[usuario.id +'_usuario_c'][i].conta[j].email%>

								<%#}%>


							</div>

							<div class="form-group">       
								<label class="form-control-label">Senha corretora</label>
								<input type="password" placeholder="**********" class="form-control input-text-email-senha contas-senha" name="senha" placeholder="Senha" value="<%=data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].senha%>">
							</div>

							<div>
								<input type="checkbox" class="checkbox-template exibir_senha">
								<label class="form-check-label" for="exibir_senha" >Exibir senha</label>
							</div>



						</div>

						<hr>

						<div class="block-body">
							<div class="i-checks">
								<input type="checkbox" class="checkbox-template" id="alterar_operacional_porcentagem" name="tipo_banca" value="1" <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].tipo_banca == 'percentual' ? 'checked' : '' %> <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'disabled' : ''%>>
								<label class="form-check-label js-input-change-color <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'color-disabled' : ''%>">Configurar operacional em porcentagem</label>
							</div>
						</div>



						<div class="block-body">
							<div class="form-group margin-t-10">
								<label class="form-control-label js-input-change-color <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'color-disabled' : ''%>">Valor da Entrada:(<span class="label_percentual_real"><%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].tipo_banca == 'percentual' ? '%' : 'R$' %></span>)</label>
								<input id="form_operacional_entrada" type="number" class="form-control" name="valor_entrada" value="<%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].valor_entrada %>" maxlength="6" <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'disabled' : ''%>>
							</div>


							<div class="form-group">
								<label class="form-control-label js-input-change-color <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'color-disabled' : ''%>">Stop Loss:(<span class="label_percentual_real">
									<%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].tipo_banca == 'percentual' ? '%' : 'R$' %></span>)</label>

									<input id="form_operacional_limite_perda" type="number" class="form-control" name="limite_perda" value="<%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].limite_perda %>" <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'disabled' : ''%>>
								</div>


								<div class="form-group">
									<label class="form-control-label js-input-change-color <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'color-disabled' : ''%>">Stop Gain:</label>

									<div class="margin-b-10 italic <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'color-disabled' : ''%>">É indicado que se utilize o Stop Gain, pois ele serve para reduzir a exposição  ao risco.
									</div>

									<select type="number" class="form-control" name="stop_gain" <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'disabled' : ''%>>

										<option value="0" <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].stop_gain == 0? 'selected' : '' %>>Stop Gain Desativado </option>
										<option value="3" <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].stop_gain == 3? 'selected' : '' %>>3%</option>
										<option value="5" <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].stop_gain == 5? 'selected' : '' %>>5%</option>
										<option value="7" <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].stop_gain == 7? 'selected' : '' %>>7%</option>

									</select>


								</div>


								<div class="form-check margin-t-10">
									<input class="form-check-input radio-template form_operacional_tipo_conta" type="radio" name="tipo_conta" <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].conta_real == false ? 'checked' : '' %> value="0" <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'disabled' : ''%>>
									<label class="form-check-label js-input-change-color <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'color-disabled' : ''%>">
										Treinamento
									</label>
								</div>
								<div class="form-check margin-t-10">
									<input class="form-check-input radio-template form_operacional_tipo_conta" type="radio" name="tipo_conta" <%= data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].conta_real == true ? 'checked' : '' %> value="1" <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'disabled' : ''%>>
									<label class="form-check-label js-input-change-color <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') || (data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao != 'parar') ? 'color-disabled' : ''%>">
										Real
									</label>
								</div>


								<input type="hidden" name="id_usuario" value="<%= data[usuario.id +'_usuario_c'][i]._id%>">


								<section class="no-padding-bottom">
									<div class="container-fluid">
										<div class="block">
											<% if(data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].acao == 'parar' || data[usuario.id +'_usuario_c'][i].conta[data[usuario.id +'_usuario_c'][i].conta.length - 1].status == 'desconectado'){ %>
											<button type="button" <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].email == '' && data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].senha == '') || (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado') ? 'disabled' : '' %> data-href="/sistema/contas/iniciar-operacao/" id="botao_iniciar_sistema" class="btn <%= (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].email == '' && data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].senha == '') || (data[usuario.id +'_usuario_c'][i].conexao[data[usuario.id +'_usuario_c'][i].conexao.length - 1].status != 'conectado')  ? 'disabled' : 'btn-success-color' %> btn-block margin-t-10 margin-b-10 ajax-submit" title="Para Iniciar o Sistema, Teste a conexão antes!" data-action="/sistema/contas">Conectar</button>




											<%}else {%>
											<button type="button" id="botao_parar_sistema" data-href="/sistema/contas/parar-operacao/" class="btn btn-danger btn-block margin-t-10 margin-b-10 ajax-submit" title="Parar Sistema" data-conect_teste='desconectar' data-action="/sistema/contas">Desconectar</button>

											<% }%>
											<div class="block-body error-block" id="error_mensagem_conexao"></div>

											<%if(data[usuario.id +'_usuario_c'][i].mensagem.length > 0){%>

											<% var control_deletado = 0;%>

											<%for(j=0;j<data[usuario.id +'_usuario_c'][i].mensagem.length;j++){%>

												<%if(data[usuario.id +'_usuario_c'][i].mensagem[j].deletado == 0){%>
												<% control_deletado = 1;%>
												<%}%>

												<%}%>



												
												<%# se o control deletado for igual a 1 quer dizer que existe uma informação que não foi deletada%>
												<%if(control_deletado == 1){%>

												<div class="text-center margin-t-10">
													<button class="btn btn-primary modal-mount" data-modal="#modalinfo" data-link="/sistema/contas/mensagens-usuario/<%=data[usuario.id +'_usuario_c'][i]._id%>">Informações <i class="fas fa-comment"></i></button>
												</div>

												<%}%>



												<%}%>


											</div>

										</div>
									</section>






								</div>



							</form>
						</div>
					</div>
				</div>

				<%}%>
				<%}%>

				<%}%>
				<%}%>
				<%}%>
				<%}%>
			</div>




		</div>




