
<div class="block-body">
	<div class="row block-border-bottom">
		<div class="col-sm-12 col-md-6">
			<div class="total_operacoes_color f20 text-center">Total de Operações: 
				<span class="total_operacoes_color_n">
					<%= data_acertividade_b.total_operacoes %>				
				</span>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="numero_acertos_color f20 text-center">Número de Acertos: 
				<span class="numero_acertos_color_n">
					<%= data_acertividade_b.total_acertos %>
				</span>
			</div>
		</div>
	</div>
</div>

<div>
	<canvas id="grafico_historico_porcentagem" data-canvas-dias="<%= data_grafico_b.dias %>"data-canvas-qtd_operacoes="<%= data_grafico_b.operacoes %>" data-canvas-qtd_acertos="<%= data.grafico.acertos %>"></canvas>
</div>

<div class="w100 none historico_mensagem_sem_operacao warning-block">
	Sem dados suficientes!
</div>







<script>

	var ctx = document.getElementById('grafico_historico_porcentagem').getContext('2d');

	var dias = $('#grafico_historico_porcentagem').data('canvas-dias');

	Chart.defaults.global.defaultFontColor = '#75787c';

	if(dias != 0){
		var diasArray = dias.split(',');

		var qtd_operacoes = $('#grafico_historico_porcentagem').data('canvas-qtd_operacoes').toString();
		var qtd_operacoesArray = qtd_operacoes.split(',');

		var acertos = $('#grafico_historico_porcentagem').data('canvas-qtd_acertos').toString();
		var acertosArray = acertos.split(',');

		Chart.defaults.global.defaultFontSize = 16;

		// let MyScale = Chart.Scale.extend({

		// });

		// Chart.scaleService.registerScaleType('myScale', MyScale, defaultConfigObject);


		var LINECHARTEXMPLE   = $('#grafico_historico_porcentagem');
		var lineChartExample = new Chart(LINECHARTEXMPLE, {
			type: 'line',
			options: {
				legend: {labels:{fontColor:"#777", fontSize: 12}},
				maintainAspectRatio: false,
				scales: {
					xAxes: [{
						display: false,
						gridLines: {
							color: 'transparent'
						}
					}],
					yAxes: [{
						ticks: {
							beginAtZero: true,
							max: <%= data_maior_valor %>,
							min: 0
						},
						display: true,
						gridLines: {
							color: 'transparent'
						}
					}]
				},
				layout:{
					padding:{
						right:10,
						left:10
					}
				}
			},
			data: {
				labels: diasArray,
				datasets: [
				{
					label: "Total Operações",
					fill: true,
					lineTension: 0,
					backgroundColor: "rgba(98, 98, 98, 0.5)",
					borderColor: "rgba(98, 98, 98, 0.5)",
					borderCapStyle: 'butt',
					borderDash: [],
					borderDashOffset: 0.0,
					borderJoinStyle: 'miter',
					borderWidth: 1,
					pointBorderColor: "rgba(98, 98, 98, 0.5)",
					pointBackgroundColor: "#fff",
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: "rgba(98, 98, 98, 0.5)",
					pointHoverBorderColor: "rgba(98, 98, 98, 0.5)",
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: qtd_operacoesArray,
					spanGaps: false,
					datalabels:{
						align:'top',
						anchor:'start'
					}
				},
				{
					label: "Número de Acertos",
					fill: true,
					lineTension: 0,
					backgroundColor: "rgba(134, 77, 217, 0.88)",
					borderColor: "rgba(134, 77, 217, 088)",
					borderCapStyle: 'butt',
					borderDash: [],
					borderDashOffset: 0.0,
					borderJoinStyle: 'miter',
					borderWidth: 1,
					pointBorderColor: "rgba(134, 77, 217, 0.88)",
					pointBackgroundColor: "#fff",
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: "rgba(134, 77, 217, 0.88)",
					pointHoverBorderColor: "rgba(134, 77, 217, 0.88)",
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: acertosArray,
					spanGaps: false,
					datalabels:{
						align:'top',
						anchor:'start'
					},
				}
				]
			}
		});










	}else{
		$('.historico_mensagem_sem_operacao').removeClass('none')
	}





</script>