

<div class="padding-10">
	<h5>Confirmar Conexão da Operação</h5>

	<div class="margin-b-10">

		<% if(data.dados.tipo_banca == undefined){%>

		Você tem certeza que deseja conectar com o e-mail <%= data.email %> com o valor de entrada de <strong>R$<%= data.dados.valor_entrada%></strong> e com o limite de perda de <strong>R$<%= data.dados.limite_perda%></strong> na conta <%= data.dados.tipo_conta == 0? 'de ' : '' %><strong class="uppercase"><%= data.dados.tipo_conta == 0? 'Treinamento' : 'Real' %></strong>?

		<%}else{%>
			Você tem certeza que deseja conectar com o e-mail <%= data.dados.email %> com o valor de entrada de <strong><%= data.dados.valor_entrada%>%</strong> da sua conta, e com o limite de perda de <strong><%= data.dados.limite_perda%>%</strong>, na conta <%= data.dados.tipo_conta == 0? 'de ' : '' %><strong class="uppercase"><%= data.dados.tipo_conta == 0? 'Treinamento' : 'Real' %></strong>?


		<%}%>

	</div>

	<form method="POST" action="" enctype="multipart/form-data">
		<input type="hidden" name="valor_entrada" value="<%= data.dados.valor_entrada %>">
		<input type="hidden" name="limite_perda" value="<%= data.dados.limite_perda %>">
		<input type="hidden" name="tipo_conta" value="<%= data.dados.tipo_conta %>">

		<% if(data.dados.tipo_banca != undefined){%>
			<input type="hidden" name="tipo_banca" value="<%= data.dados.tipo_banca %>">
		<%}%>

		<div class="modal-footer">

			<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Cancelar</button>

			<button type="button" data-href="/sistema/iniciar-operacao/" class="btn btn-success-color ajax-submit-scroll-top" title="Conectar" data-action="/sistema" data-dismiss="modal">Conectar</button>
		</div>
	</form>

</div>
