	<% if(usuario.nivel ==3){%>

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<div class="row d-flex align-items-stretch">


				<%if (data.config_sistema[0].possui_creditos == true){%>
				<div class="col-lg-4 col-xl-4">
					<div class="stats-with-chart-1 block <%= data[usuario.id +'_licenca_user'].creditos >= 30 && data[usuario.id +'_licenca_user'].creditos < 50 ? 'dashborder-5' : data[usuario.id +'_licenca_user'].creditos < 30 && data_conta_b.primeira_vez != true ? 'error_border' : '' %>">
						<div class="title"> <strong class="d-block">Créditos</strong></div>
						<div class="row d-flex align-items-end justify-content-between">
							<div class="col-sm-12">
								<div class="text">
									<strong class="d-block dashtext-3">$$ <%= data[usuario.id +'_licenca_user'].creditos %></strong>

									<% if(data[usuario.id +'_licenca_user'].creditos <= 0 && data_conta_b.primeira_vez != true){%>
									<span class="error-block padding-5 margin-b-10 margin-t-10">
										Saldo - Você está sem crédito, vá para a página de <a class="ajax-load dashtext-6" href="/sistema/recarga"> recarga</a> para recarregar.
									</span>
									<%}%>
									<% if(data[usuario.id +'_licenca_user'].creditos > 0 && data[usuario.id +'_licenca_user'].creditos < 30){%>
									<span class="error-block padding-5 margin-b-10 margin-t-10">
										Saldo restante - Seus créditos estão acabando, vá para a página de <a class="ajax-load dashtext-6" href="/sistema/recarga"> recarga</a> para recarregar.
									</span>

									<%}else if(data[usuario.id +'_licenca_user'].creditos >= 30 && data[usuario.id +'_licenca_user'].creditos < 50) {%>
									<span class="warning-block padding-5 margin-b-10 margin-t-10">
										Saldo restante - Não fique fora da operação, programe a sua recarga, acesse a página de <a class="ajax-load dashtext-7" href="/sistema/recarga">recarga </a> para recarregar.
									</span>

									<%}else{%>
									<span class="d-block">Saldo restante</span>
									<%}%>


									<%if(data[usuario.id +'_licenca_user_dias'] < 0 && data_conta_b.primeira_vez == undefined){ %>
									
									<span class="d-block dashtext-5">Liçenca expirada!! <a href="https://www.hotmart.com/pt-BR" target="_blank" class="dashtext-3">Clique aqui</a> para adquirir uma nova liçenca. </span>
									
									
									<%} else if(data[usuario.id +'_licenca_user_dias'] >= 0){%>
									<span class="d-block"><span class="dashtext-3"><%= data[usuario.id +'_licenca_user_dias'] %></span> dia(s) restantes de liçenca de uso do sistema</span>								
									
									<%}else{%>
									<span class="d-block">Você não possui licença.</span>
									<%}%>

									<% if(data_conta_b.acao == 'parar'){%>
									<small class="d-block">Atualizado a pouco</small>
									<%}else{%>
									<small class="d-block">Próxima atualização em 
										<span class="timer_header_container">
											<span class="timer_header">59</span>'s
										</span>
									</small>

									<%}%>
								</div>
							</div>
						</div>
					</div>
				</div>

				<%}else{%>

				<div class="col-lg-4 col-xl-4">
					<div class="stats-with-chart-1 block <%= data[usuario.id +'_licenca_user_dias'] >= 7 && data[usuario.id +'_licenca_user_dias'] < 15 ? 'dashborder-5' : data[usuario.id +'_licenca_user_dias'] < 7 && data_conta_b.primeira_vez != true ? 'error_border' : '' %>">
						<div class="title"> <strong class="d-block">Liçenca</strong></div>
						<div class="row d-flex align-items-end justify-content-between">
							<div class="col-sm-12">
								<div class="text">

									<% if(data[usuario.id +'_licenca_user_dias'] >= 0){%>
									<strong class="d-block dashtext-3"><%= data[usuario.id +'_licenca_user_dias'] %> dias</strong>
									
									<%}else if(data[usuario.id +'_licenca_user_dias'] < 0 && data_conta_b.primeira_vez == undefined){ %>
									
									<span class="d-block dashtext-5">Liçenca expirada!! <a href="https://www.hotmart.com/pt-BR" target="_blank" class="dashtext-3">Clique aqui</a> para adquirir uma nova liçenca. </span>
									
									<%}else{%>
									<span class="d-block">Você não possui licença.</span>
									<%}%>

									<% if(data_conta_b.acao == 'parar'){%>
									<small class="d-block">Atualizado a pouco</small>
									<%}else{%>
									<small class="d-block">Próxima atualização em 
										<span class="timer_header_container">
											<span class="timer_header">59</span>'s
										</span>
									</small>

									<%}%>
								</div>
							</div>
						</div>
					</div>
				</div>





				<%}%>

				<div class="col-lg-4 col-xl-4">   
					<div class="stats-with-chart-1 block <%= data_conta_b.status == 'standby' && data_conta_b.acao == 'iniciar' ? 'dashborder-5' : data_conta_b.status == 'conectado' ? 'border-sucess sucess-block-trader-color' : ''%>">
						<div class="title"> <strong class="d-block">Status</strong></div>
						<div class="row d-flex align-items-end justify-content-between">
							<div class="col-sm-12">
								<div class="text">
									<strong class="d-block <%= data_conta_b.status == 'conectado' ? 'dashtext-2' : 
									data_conta_b.status == 'standby' && data_conta_b.acao == 'iniciar' ? 'dashtext-5':
									'dashtext-3'%>"> 
									<%= data_conta_b.status == 'conectado' ? 'Conectado' : 
									data_conta_b.status ==  'standby' && data_conta_b.acao == 'iniciar' ? 'Aguardando Trader':
									'Desconectado' %>



								</strong>
								<span class="d-block">Status de conexão</span>
								<% if(data_conta_b.acao == 'parar' || data_conta_b.status == 'desconectado'){%>
								<small class="d-block">Atualizado a pouco</small>
								<%}else{%>
								<small class="d-block">Próxima atualização em 
									<span class="timer_header_container">
										<span class="timer_header">59</span>'s
									</span>
								</small>

								<%if(data_conta_b.status ==  'standby'){%>
								<i class="margin-t-10 red-text">Por motivo de liquidez do mercado, todos participam de uma fila aleatória. Mas não se preocupe, a operação só encerra depois que todos participarem.</i>

								<%}
							}%>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="col-lg-4 col-xl-4">
			<div class="stats-with-chart-1 block">
				<div class="title"> <strong class="d-block">Performance Últimas 24h</strong></div>
				<div class="row d-flex align-items-end justify-content-between">

					<div class="col-sm-12 col-md-5">
						<div class="text"><strong class="d-block dashtext-2"><%= data[usuario.id +'_acertividade'].entradas %></strong>
							<span class="d-block">Entradas</span>
							<small class="d-block">Ações realizadas</small>
						</div>
					</div>
					<div class="col-sm-12 col-md-5">
						<div class="text">
							<strong class="d-block dashtext-2"><%= data[usuario.id +'_acertividade'].porcentagem %>%</strong>
							<span class="d-block">Assertividade</span>
							<small class="d-block">Relatório geral</small>
						</div>
					</div>



				</div>
			</div>
		</div>

	</div>
</div>
</section>

<%}%>