<%- include('../includes/menu_header'); %>

<div class="page-content">

	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Dashboard Trader</h2>
		</div>
	</div>
	<form method="POST" action="" enctype="multipart/form-data">

		<section class="margin-bottom-sm">
			<div class="container-fluid">
				<div class="row d-flex align-items-stretch">
					<div class="col-sm-12">
						<div class="stats-with-chart-1 block">
							<div class="title"> <strong class="d-block">Controle Sessão</strong></div>

							<div class="row">

								<div class="col-sm-6 text-center">
									<div class="text-center">
										Já Participaram de Sessão
									</div>
									<div class="text text-center">
										<strong class="d-block"> <%= data.sessao_total[0].total_participantes_sessao%></strong>
									</div>	

									<% if(data.conta_user.acao == 'parar'){%>
									<small class="d-block">Atualizado a pouco</small>
									<%}else{%>
									<small class="d-block">Próxima atualização em 
										<span class="timer_header_container">
											<span class="timer_header">59</span>'s
										</span>
									</small>

									<%}%>

								</div>

								<div class="col-sm-6 text-center">
									<div class="text-center">
										Aguardando Sessão:
									</div>
									<div class="text text-center">
										<strong class="d-block dashtext-5">
											<%= data.sessao_total[0].total_usuarios_conectados -  data.sessao_total[0].total_participantes_sessao%>
										</strong>
									</div>

									<% if(data.conta_user.acao == 'parar'){%>
									<small class="d-block">Atualizado a pouco</small>
									<%}else{%>
									<small class="d-block">Próxima atualização em 
										<span class="timer_header_container">
											<span class="timer_header">59</span>'s
										</span>
									</small>

									<%}%>
								</div>

							</div>

						</div>
					</div>


				</div>
			</div>
		</section>



		<section class="margin-bottom-sm">

			<div class="container-fluid">

				<div class="row d-flex align-items-stretch">

					<div class="col-lg-6">   
						<div class="stats-with-chart-1 block <%= data.sessao_status[0].sessao_iniciada == true ? 'sucess-block-trader-color' : '' %>">
							<div class="title"> <strong class="d-block">Status</strong></div>
							<div class="row d-flex align-items-start justify-content-between">
								<div class="col-sm-12 col-md-6 text-center-mobile">
									<div class="text">
										<strong class="d-block <%= data.conta_user.acao == 'iniciar' ? 'dashtext-2' : 'dashtext-3'%>"> <%= data.conta_user.acao == 'iniciar' ? 'Conectado' : 'Desconectado' %></strong>
										<span class="d-block">Status de conexão</span>
										<% if(data.conta_user.acao == 'parar'){%>
										<small class="d-block">Atualizado a pouco</small>
										<%}else{%>
										<small class="d-block">Próxima atualização em 
											<span class="timer_header_container">
												<span class="timer_header">59</span>'s
											</span>
										</small>

										<%}%>
									</div>
								</div>

								<% if(data.sessao_status[0].sessao_iniciada == true){%>
								

								<div class="col-sm-12 col-md-6 text-center margin-t-20-mobile">
									<div class="f24 dashtext-2">Sessão Iniciada!</div>
									<div class="f24">Boas Operações!</div>
								</div>

								<%}%>

							</div>
						</div>
					</div>

					<div class="col-lg-6">   
						<div class="stats-with-chart-1 block">
							<div class="title"> <strong class="d-block">Sessão</strong></div>
							<div class="row d-flex align-items-start justify-content-between">
								<div class="col-sm-12 col-md-4">
									
									<span class="d-block js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Limite de 200 usuários.<br> Por sessão.</span>

									<div class="form-group">
										<label class="form-control-label js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Definir Quantidade de Usuários:</label>
										<input id="form_trader_qtd_usuarios" type="number" class="form-control" name="limite_usuarios" value="<%= data.trader_limite.limite_usuarios %>" maxlength="6" <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'disabled' : ''%>>
									</div>
								</div>

								<div class="col-sm-12 col-md-4 text-center">
									<div class="text">
										<strong class="d-block <%= data.conta_user.acao == 'iniciar' ? 'dashtext-2' : 'dashtext-3'%>">
											<% if(data.conta_user.acao == 'iniciar'){%>
											<%= data.sessao_status[0].quantidade_usuarios %>
											<%}else{%>
											0
											<%}%>
										</strong>
										<span class="d-block">Usuários em Sessão</span>

										<% if(data.conta_user.acao == 'parar'){%>
										<small class="d-block">Atualizado a pouco</small>
										<%}else{%>
										<small class="d-block">Próxima atualização em 
											<span class="timer_header_container">
												<span class="timer_header">59</span>'s
											</span>
										</small>

										<%}%>
									</div>
								</div>



							</div>
						</div>
					</div>
				</div>
			</div>
		</section>




		<section class="no-padding-bottom">

			<div class="container-fluid">

				<div class="row">

					<div class="col-lg-6 margin-b-30">

						<div class="block h-100">
							<div class="title">
								<strong class="d-block">Conta</strong>
								<span class="d-block">Configure os dados da corretora</span>
							</div>

							<div class="block-body">
								<div class="form-group">
									<label class="form-control-label">Email corretora</label>
									<input type="email" placeholder="exemplo@exemplo.com" class="form-control input-text-email-senha" name="email" <%= data.conta_user.acao != 'parar' ? 'disabled' : ''%> value="<%= data.conexao.email != '' ? data.conexao.email : data.conta_user.email %>">
								</div>

								<div class="form-group">       
									<label class="form-control-label">Senha corretora</label>
									<input type="password" placeholder="**********" class="form-control input-text-email-senha" name="senha" placeholder="Senha" <%= data.conta_user.acao != 'parar' ? 'disabled' : ''%> value="<%= data.conexao.senha != '' ? data.conexao.senha : data.conta_user.senha %>">
								</div>

								<div class="form-group">       
									<button data-href="/sistema/testar-conexao/" <%= data.conexao.senha != '' && data.conexao.email!= '' && data.conexao.status=='conectado' ? 'disabled' : '' %> title="Testar Conexão" type="submit" class="btn  <%= data.conexao.senha != '' && data.conexao.email!= '' && data.conexao.status=='conectado' ? 'disabled' : 'btn-primary' %> ajax-submit-timer" id="testar_conexao" data-conect_teste='teste' data-action="/sistema">Testar Conexão</button>
								</div>

							</div>

							<div class="block-body">
								<% if(data.conexao.status == 'conectado' && data.conta_user.acao != 'iniciar'){%>
								<div class="alert sucess-block fade show" id="caixa_alert_conectado">
									Conta testada com <b>sucesso!</b> Por-favor clique no botão <b>"Conectar"</b> para iniciar a operação.Após confirmar o seu operacional.
								</div>
								<% }else if(data.conexao.status == 'erro de conexao'){%>
								<div class="alert error-block fade show" id="caixa_alert_conectado">
									<b>Usuário</b> ou <b>senha</b> não conferem com a da plataforma! Por-favor verifique os seus dados, e teste a conexão novamente.
								</div>

								<%}else if(data.conexao.status == 'primeira_vez'){%>
								<div class="alert transparent-block">
									Para poder utilizar o sistema, por-favor informar os dados da corretora acima, e clique no bostão testar conexão! 
								</div>
								<%}%>
							</div>

						</div>

					</div>

					<div class="col-lg-6 margin-b-30">

						<div class="block h-100">

							<div class="title">
								<strong class="d-block js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Limites</strong>
								<span class="d-block js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Se deseja que a liquidez seja a definida pelo usuário deixe o valor em 0!</span>
							</div>

							<div class="block-body">
								<div class="form-group">       
									<label class="form-control-label js-input-change-color <%= (data.conexao.status != 'conectado') ? 'color-disabled' : ''%>">Determine o Valor Máximo de Entrada:(R$)</label>
									<input id="form_trader_liquidez" type="number" class="form-control" name="limite_liquidez" value="<%= data.trader_limite.limite_liquidez %>" <%= (data.conexao.status != 'conectado') ? 'disabled' : ''%>>
								</div>

								<button type="submit" class="btn <%= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado')  ? 'disabled': 'transparent' %> w100px float-right ajax-submit" title="Salvar os Limites dos Usuários" data-href="/sistema/salvar-limites-trader/">Salvar </button>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="block">
					<% if(data.conta_user.acao == 'parar'){ %>
					<button type="button" <%= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado') ? 'disabled' : '' %> data-href="/sistema/iniciar-operacao-trader/" id="botao_iniciar_sistema" class="btn <%= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado')  ? 'disabled' : 'btn-success-color' %> btn-block margin-t-10 margin-b-10 ajax-submit-timer" title="Para Iniciar o Sistema, Teste a conexão antes!" data-conect_teste='conectar'>Conectar</button>

					<%}else {%>
					<button type="button" id="botao_parar_sistema" data-href="/sistema/parar-operacao/" class="btn btn-danger btn-block margin-t-10 margin-b-10 ajax-submit-timer-5" title="Parar Sistema" data-mensagem-sucesso="Sistema Parado com Sucesso" data-mensagem-sucesso-color="red" data-conect_teste='desconectar'>Desconectar</button>
					<% }%>
				</div>

			</div>
		</section>


	</form>

	<section class="no-padding-bottom">
		<div class="container-fluid">
			<div class="block margin-b-0">
				<form method="POST" action="" enctype="multipart/form-data">
					<div class="title">
						<strong class="d-block">Mensagens
							<button type="button" data-href="/sistema/limpar-mensagens/" title="Limpar Todas as Mensagens" class="btn transparent float-right close-alerts-button ajax-submit w100px" data-action="/sistema">Limpar</button>
						</strong>
					</div>
					
				</form>

				<div class="block-body">
					<% if (typeof data.mensagem != 'undefined' && data.mensagem.length > 0) {
						for (var i = 0; i < data.mensagem.length; i++) {%>
						<div class="alert <%=
						data.mensagem[i].tipo_mensagem == 1 ? 'sucess-block' : data.mensagem[i].tipo_mensagem == 2 ? 'warning-block' : 'error-block' %> alert-dismissible fade show" role="alert">
						<%= data.mensagem[i].descricao_mensagem %>
						<button type="button" data-href="/sistema/limpar-mensagem/<%= data.mensagem[i]._id %>" class="close ajax-submit-close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<%}
				}else{%>
				<div class="text-center">Não há nenhuma mensagem no momento.</div>

				<%}%>
			</div>

		</div>
	</div>
</section>


</div>




<script type="text/javascript">

	<% if(data.conta_user.acao == 'iniciar'){ %>
	zerarIntervalo();
	setarPararTimer();
	timer60sec();

	<%}%>



</script>