<%- include('../includes/menu_header'); %>

<div class="container">

	<div class="main-page col-sm-12 col-md-11">

		<form method="POST" action="" enctype="multipart/form-data">

			<div class="row row-cols-md-2">

				<div class="form-configuracoes-mp col-sm-12 col-md-10 col-lg-6 mb-4">

					<div class="card h-100 padding-20 margin-t-10">
						<div class="f25 black-text border-bottom-grey">Conta</div>
						

						<div class="row margin-t-50 no-gutters">
							<div class="col-sm-12 col-md-8 offset-md-2 mb-4">
								<label class="sr-only" for="email">E-mail usuário</label>
								<div class="input-group" id="email_grupo_usuario">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
											</svg>
										</div>
									</div>
									<input type="email" id="email_usuario" class="form-control input-text-email-senha" name="email"  placeholder="Conta de e-mail" <%= data.conta_user.acao != 'parar' ? 'disabled' : ''%> value="<%= data.conexao.email != '' ? data.conexao.email : data.conta_user.email %>">
								</div>
							</div>


							<div class="col-sm-12 col-md-8 offset-md-2 my-1 mb-4">
								<label class="sr-only" for="senha">Senha</label>
								<div class="input-group" id="senha_grupo_usuario">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
												<path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
											</svg>
										</div>
									</div>
									<input type="password" id="senha_usuario" class="form-control input-text-email-senha" name="senha" placeholder="Senha" <%= data.conta_user.acao != 'parar' ? 'disabled' : ''%> value="<%= data.conexao.senha != '' ? data.conexao.senha : data.conta_user.senha %>">
								</div>
							</div>

							<div class="col-sm-12 col-md-10 col-lg-12 mb-4">							
								<button data-href="/sistema/testar-conexao/" <%= data.conexao.senha != '' && data.conexao.email!= '' && data.conexao.status=='conectado' ? 'disabled' : '' %> title="Testar Conexão" type="submit" class="btn col-sm-12 <%= data.conexao.senha != '' && data.conexao.email!= '' && data.conexao.status=='conectado' ? 'disabled' : 'btn-success' %> float-right ajax-submit-timer" id="testar_conexao" data-conect_teste='teste'>Testar Conexão</button>
							</div>

							<% if(data.conexao.status == 'conectado' && data.conta_user.acao != 'iniciar'){%>
							<div class="alert alert-success fade show" id="caixa_alert_conectado">
								Conta testada com <b>sucesso!</b> Por-favor clique no botão <b>"Conectar"</b> para iniciar a operação.Após confirmar o seu operacional.
							</div>
							<% }else if(data.conexao.status == 'erro de conexao'){%>
							<div class="alert alert-danger fade show" id="caixa_alert_conectado">
								<b>Usuário</b> ou <b>senha</b> não conferem com a da plataforma! Por-favor verifique os seus dados, e teste a conexão novamente.
							</div>

							<%}%>
						</div>
					</div>

				</div>

				<div class="col-sm-12 col-md-10 col-lg-6 mb-4">
					<div class="card padding-20 margin-t-10">
						<div class="f25 black-text border-bottom-grey">Status</div>

						<div class="row no-gutters text-center margin-t-10 border-bottom-grey padding-b-10">

							<div class="col col-sm-12">
								<i id="header_status_icon" class="<%= data.conta_user.acao == 'iniciar'  ? 'fas fa-check green-text' : 'fa fa-times red-text'%> f40 margin-r-10"></i>

								<span id="header_status_text" class="f24" style="vertical-align: super;">
									<%= data.conta_user.acao == 'iniciar' ? 'Conectado' : 'Desconectado' %>
								</span>
							</div>


						</div>

						<div class="row no-gutters grey-text padding-t-10 text-center">
							<div class="col-sm-12">
								<i class="fas fa-sync-alt"></i>

								<% if(data.conta_user.acao == 'parar'){%>
								Atualizado a pouco
								<%}else{%>
								Próxima atualização em <span class="timer_header_container f20 grey-text">
									<span class="timer_header">59</span>'s
								</span>
								<%}%>

							</div>
						</div>
					</div>

					<div class="card padding-10 margin-t-10">
						<div class="row">
							<div class="col-sm-12 col-md-11 ml-md-auto mr-md-auto">

								<% if(data.conta_user.acao == 'parar'){ %>
								<button type="button" <%= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado') ? 'disabled' : '' %> data-href="/sistema/iniciar-operacao-trader/" id="botao_iniciar_sistema" class="btn <%= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado')  ? 'disabled' : 'btn-success' %> btn-block margin-t-10 margin-b-10 ajax-submit-timer" title="Para Iniciar o Sistema, Teste a conexão antes!" data-conect_teste='conectar'>Conectar</button>

								<%}else {%>
								<button type="button" id="botao_parar_sistema" data-href="/sistema/parar-operacao/" class="btn btn-danger btn-block margin-t-10 margin-b-10 ajax-submit-timer-5" title="Parar Sistema" data-mensagem-sucesso="Sistema Parado com Sucesso" data-mensagem-sucesso-color="red" data-conect_teste='desconectar'>Desconectar</button>
								<% }%>

							</div>
						</div>
					</div>
					
				</div>

<!-- 					<div class="card padding-20 margin-t-10">
						<div class="f25 black-text border-bottom-grey">Número de Usuários</div>

						<div class="text-center margin-t-10 f24">
							55 Usuários conectados
						</div>
					</div>
				-->

			</div>




		</form>

		<div class="row">
			<div class="col-sm-12 col-md-10 col-lg-12 mb-4">
				<div class="card padding-20">
					<form method="POST" action="" enctype="multipart/form-data">
						<div class="f25 black-text border-bottom-grey padding-b-10">Mensagens
							<button type="button" data-href="/sistema/limpar-mensagens/" title="Limpar Todas as Mensagens"  class="btn primary float-right close-alerts-button ajax-submit w100px" data-mensagem-sucesso='Mensagens Limpas com Sucesso'>Limpar</button>							
						</div>
					</form>
					<div class="margin-t-10 Limite">

						<% if (typeof data.mensagem != 'undefined' && data.mensagem.length > 0) {
							for (var i = 0; i < data.mensagem.length; i++) {%>


							<div class="alert <%=
							data.mensagem[i].tipo_mensagem == 1 ? 'alert-success' : data.mensagem[i].tipo_mensagem == 2 ? 'alert-warning' : 'alert-danger' %> alert-dismissible fade show" role="alert">
							<%= data.mensagem[i].descricao_mensagem %>
							<button type="button" data-href="/sistema/limpar-mensagem/<%= data.mensagem[i]._id %>" class="close ajax-submit-close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<%}
					}else{%>
					<div class="text-center">Não há nenhuma mensagem no momento.</div>

					<%}%>


				</div>
			</div>
		</div>
	</div>
</div>
</div>




<script type="text/javascript">

	<% if(data.conta_user.acao == 'iniciar'){ %>
	zerarIntervalo();
	setarPararTimer();
	timer60sec();

	<%}%>



</script>