<%- include('../includes/menu_header'); %>

<div class="page-content">

	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Dashboard</h2>
		</div>
	</div>

	<% if(data.conta_user.acao == 'iniciar' || (data.conta_user.acao == 'iniciar' && data.conta_user.status != 'desconectado')){ %>

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<div class="sucess-block padding-20 text-center sucess-block-trader-color">
				<strong>Parabéns você cumpriu todas as etapas!!!</strong>

				<br><br>O navegador poderá ser fechado, que o sistema continuará funcionando.
				<br><br>
				Você pode voltar no site a qualquer momento e parar as operações.

			</div>
		</div>
	</section>
	<%}%>

	<%- include('primeira_vez'); %>

	<%if((data.licenca_user_dias < 0 || (data.licenca_user.creditos == 0 && data.config_sistema[0].possui_creditos == true)) && data.conta_user.primeira_vez == undefined){%>

	<section class="no-padding-top no-padding-bottom">
		<div class="container-fluid">
			<div class="alert error-block">
				<div class="text-center">
					<div class="text-center">
						<%if( data.licenca_user.creditos == 0 && data.config_sistema[0].possui_creditos == true){%>
						<h5>OhOh! Seu saldo está zerado.</h5>
						Insira seu código de transação da recarga recebido no seu e-mail no campo abaixo, ou acesse o menu <a class="ajax-load dashtext-6" href="/sistema/recarga">recarregar</a> e escolha uma das opções de crédito:
						<%}else{%>

						<h5>OhOh! Você está sem a licença.</h5>
						Insira seu código de transação da licença recebido no seu e-mail no campo abaixo, ou acesse o menu <a class="ajax-load dashtext-6" href="/sistema/recarga">recarregar</a> e escolha uma das opções da licença:

						<%}%>
					</div>

					<div class="row">
						<div class="col-sm-12 col-md-6 offset-md-3">
							<form method="POST" action="" enctype="multipart/form-data">
								<div class="form-group margin-t-10">
									<label class="sr-only">Código da Transação</label>
									<input type="text" placeholder="Código da Transação" class="form-control" name="codigo_transacao" required>
								</div>
								<div class="form-group">
									<button data-href="/sistema/minha_conta/ativar-codigo-transacao/" title="Enviar Código" type="submit" class="btn btn-primary ajax-submit-sucess-message w100px" data-action="/sistema/" data-sucesso-id="#alert-sucess-cod-transacao-s">Ativar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="no-padding-top no-padding-bottom">
		<div class="container-fluid">
			<div class="none alert sucess-block text-center" role="alert" id="alert-sucess-cod-transacao-s">
				Recarga efetuada com sucesso!
			</div>
		</div>
	</section>



	<%}%>

	<%- include('data_header'); %>



	<form method="POST" action="" enctype="multipart/form-data">


		<section class="no-padding-top no-padding-bottom">

			<div class="container-fluid">

				<div class="row">
					
					<div class="col-lg-6 margin-b-30">

						<div class="block h-100">
							<div class="title">
								<strong class="d-block">Conta</strong>
								<span class="d-block">Configure os dados da corretora</span>
							</div>


							<div class="container_teste_conexao">

								<%if(data.conexao.status == 'conectado' || data.conexao.status == ''){%>
								<div class="block-body">

									<div class="form-group">
										<%if(data.conexao.status == 'conectado'){%>
										<label class="form-control-label dashtext-2">Conta verificada Como:</label>
										<%}else{%>
										<label class="form-control-label dashtext-5">Testando Conta Como:</label>
										<%}%>
										<input type="email" class="form-control" name="email" disabled value="<%= data.conexao.email%>">
									</div>

									<div class="form-group"> 

										<button type="button" <%= data.conta_user.acao == 'iniciar' ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-alterar-testar-conexao" class="btn <%= data.conta_user.acao == 'iniciar' ? 'disabled' : 'btn-primary' %> ajax-submit-open-modal" data-modal='#modalinfo'>Alterar Conta</button>

									</div>

								</div>

								<div class="block-body">
									<% if(data.conexao.status == 'conectado' && data.conta_user.acao != 'iniciar'){%>
									<div class="alert sucess-block fade show justify" id="caixa_alert_conectado">
										Conta testada com <b>sucesso!</b> Por-favor clique no botão <b>"Conectar"</b> para iniciar a operação.Após confirmar o seu operacional.
									</div>

									<%}else if(data.conexao.status == ''){%>
									<div class="alert warning-block fade show" id="caixa_alert_conectado justify">
										Não se preocupe, a sua conta ainda está sendo testada, tentando novamente em <span class="timer_header_container">
											<span class="timer_header">59</span>'s
										</span>

										<div class="text-center margin-t-10">
											<i class="fas fa-spinner fa-pulse fa-fw"></i>
											Testando conexão ...
										</div>
									</div>

									<% } %>


								</div>


								<%}else{%>

								<%- include('testar_conexao_form'); %>

								<%}%>

							</div>

							<div class="block-body">
								<% if(data.conexao.status == 'erro de conexao'){%>
								<div class="alert error-block fade show justify" id="caixa_alert_conectado">
									<b>Usuário</b> ou <b>senha</b> não conferem com a da plataforma! Por-favor verifique os seus dados, e teste a conexão novamente.
								</div>

								<%}else if(data.conexao.status == 'primeira_vez'){%>
								<div class="alert transparent-block justify">
									Para poder utilizar o sistema, informe nos campos acima os dados da corretora e clique no botão testar conexão! 
								</div>

								<%}%>

							</div>

						</div>

					</div>

					<div class="col-lg-6 margin-b-30">
						<div class="block h-100">
							<div class="title">
								<strong class="d-block js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Operacional</strong>
								<span class="d-block js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Defina as configurações de operaçao.</span>
							</div>

							<div class="block-body">
								<div class="i-checks">
									<input type="checkbox" class="checkbox-template" id="alterar_operacional_porcentagem" name="tipo_banca" value="1" <%= data.conta_user.tipo_banca == 'percentual' ? 'checked' : '' %> <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'disabled' : ''%>>
									<label class="form-check-label js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Configurar operacional em porcentagem</label>
								</div>
							</div>


							<div class="form-group margin-t-10">
								<label class="form-control-label js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Valor da Entrada:(<span class="label_percentual_real"><%= data.conta_user.tipo_banca == 'percentual' ? '%' : 'R$' %></span>)</label>
								<input id="form_operacional_entrada" type="number" class="form-control" name="valor_entrada" value="<%= data.conta_user.valor_entrada %>" maxlength="6" <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'disabled' : ''%>>
							</div>

							<div class="form-group">
								<label class="form-control-label js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Stop Loss:(<span class="label_percentual_real"><%= data.conta_user.tipo_banca == 'percentual' ? '%' : 'R$' %></span>)</label>
								
								<input id="form_operacional_limite_perda" type="number" class="form-control" name="limite_perda" value="<%= data.conta_user.limite_perda %>" <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'disabled' : ''%>>
							</div>

							<div class="title">
								<strong class="d-block js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">Tipo de Conta</strong>
							</div>

							<div class="form-check margin-t-10">
								<input class="form-check-input radio-template form_operacional_tipo_conta" type="radio" name="tipo_conta" <%= data.conta_user.conta_real == false ? 'checked' : '' %> value="0" <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'disabled' : ''%>>
								<label class="form-check-label js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">
									Treinamento
								</label>
							</div>
							<div class="form-check margin-t-10">
								<input class="form-check-input radio-template form_operacional_tipo_conta" type="radio" name="tipo_conta" <%= data.conta_user.conta_real == true ? 'checked' : '' %> value="1" <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'disabled' : ''%>>
								<label class="form-check-label js-input-change-color <%= (data.conexao.status != 'conectado') || (data.conta_user.acao != 'parar') ? 'color-disabled' : ''%>">
									Real
								</label>
							</div>

						</div>
					</div>
				</div>


			</div>

		</section>

		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="block">
					<% if(data.conta_user.acao == 'parar' || data.conta_user.status == 'desconectado'){ %>
					<button type="button" <%= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado') ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-iniciar-operacao/" id="botao_iniciar_sistema" class="btn <%= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado')  ? 'disabled' : 'btn-success-color' %> btn-block margin-t-10 margin-b-10 ajax-submit-open-modal" title="Para Iniciar o Sistema, Teste a conexão antes!" data-modal='#modalinfo'>Conectar</button>

					<!-- 						<button type="button" <%#= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado') ? 'disabled' : '' %> data-href="/sistema/iniciar-operacao/" id="botao_iniciar_sistema" class="btn <%#= (data.conexao.email == '' && data.conexao.senha == '') || (data.conexao.status != 'conectado')  ? 'disabled' : 'btn-success-color' %> btn-block margin-t-10 margin-b-10 ajax-submit" title="Para Iniciar o Sistema, Teste a conexão antes!" data-conect_teste='conectar' data-action="/sistema">Conectar</button> -->


					<%}else {%>
					<button type="button" id="botao_parar_sistema" data-href="/sistema/popup-confirmacao-parar-operacao/" class="btn btn-danger btn-block margin-t-10 margin-b-10 ajax-submit-open-modal" title="Parar Sistema" data-conect_teste='desconectar' data-modal='#modalinfo'>Desconectar</button>
					<!-- <button type="button" id="botao_parar_sistema" data-href="/sistema/parar-operacao/" class="btn btn-danger btn-block margin-t-10 margin-b-10 ajax-submit" title="Parar Sistema" data-conect_teste='desconectar' data-action="/sistema">Desconectar</button> -->
					<% }%>
					<div class="block-body error-block" id="error_mensagem_conexao"></div>
				</div>

			</div>
		</section>
	</form>


	<section class="no-padding-bottom">
		<div class="container-fluid">
			<div class="block margin-b-0">
				<form method="POST" action="" enctype="multipart/form-data">
					<div class="title">
						<strong class="d-block">Informações
							<button type="button" data-href="/sistema/limpar-mensagens/" title="Limpar Todas as Informações" class="btn transparent float-right close-alerts-button ajax-submit w100px" data-action="/sistema">Limpar</button>
						</strong>
					</div>
					
				</form>

				<div class="block-body">
					<% if (typeof data.mensagem != 'undefined' && data.mensagem.length > 0) {
						for (var i = 0; i < data.mensagem.length; i++) {%>


						<div class="alert <%=
						data.mensagem[i].tipo_mensagem == 1 ? 'sucess-block' : data.mensagem[i].tipo_mensagem == 2 ? 'warning-block' : 'error-block' %> alert-dismissible fade show" role="alert">
						<%= data.mensagem_horario[i]%><%= data.mensagem[i].descricao_mensagem %>
						<button type="button" data-href="/sistema/limpar-mensagem/<%= data.mensagem[i]._id %>" class="close ajax-submit-close" data-dismiss="alert" aria-label="Close" data-action="/sistema">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<%}
				}else{%>
				<div class="text-center">Não há nenhuma informação no momento.</div>

				<%}%>
			</div>

		</div>
	</div>
</section>

</div>



<script type="text/javascript">
	<% if(data.conta_user.acao == 'iniciar' || data.conexao.status == ''){ %>
	zerarIntervalo();
	setarPararTimer();
	timer60sec();

	<%}%>
</script>